Flask==3.0.2
python-dotenv==1.0.1
openai==1.70.0
Flask-CORS==5.0.1
APScheduler==3.10.4 
chromadb
#chromadb.utils
sentence-transformers
#PyPDF2 
pathlib
pandas
rapidfuzz
#pdfminer.six
#transformers
#torch
pymupdf
pdfplumber
